body {
  margin: 0;
  padding: 0;
}

div.Carousel-Container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}
div.absolute {
  position: absolute;

  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
  height: 100%;
  width: 100%;
}

.absolute {
  position: absolute;
}

.Slides {
  display: flex;
  height: 100%;
}

.Slide-Container,
.Slide-Container > div {
  display: flex;
  align-items: center;
  background-color: grey;
  height: 100%;
  pointer-events: none;
}

.Slider-Content {
  justify-content: center;
  overflow: hidden;
}

img {
  pointer-events: none;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 0 30px;
}

.buttonBack {
  right: 0px;
}

.buttonBack,
.buttonNext {
  width: 100px;
  padding: 0;
  top: 0;
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  svg {
    stroke: black;
  }
  height: 100%;
  &:hover {
    cursor: pointer;
  }
}
